html {
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;


}

body {
    min-height: 100svh;
    min-width: 100%;

}

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}



.container__tarjeta {
    display: flex;
    justify-content: center;
    margin-top: 2rem;


}

.background {
    position: absolute;
    background-image: url(../assets/img/selva.jpg);
    width: 14rem;
    height: 10rem;
    top: 0;
    border-radius: .5rem;

}

.tarjeta {
    width: 14rem;
    position: relative;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: thin solid rgb(0, 0, 0);
    background-color: white;

}

.circulo {
    width: 10rem;
    height: 10rem;
    top: 4rem;
    border-radius: 50%;
    position: absolute;
}

.circulo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: thick solid #ffffff;
    object-fit: cover;
    object-position: 1% 10%;
}

.circulo h3,
p {
    text-align: center;
}

.circulo p {
    color: grey;
    font-size: 1rem;
}

.descripcion {
    margin-top: 15em;
}

.container__redes {
    height: 2rem;
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 22.5rem;
}

.container__redes img {
    width: 1.5rem;
    height: 1.5rem;
}