html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.btn__menu {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
}

.btn__hamburguesa {
    position: fixed;
    width: 3rem;
    height: 0.6rem;
    right: 2rem;
    top: 2.4rem;
    background-color: black;
    border-radius: 0.3rem;
    transform: rotate(0deg) translate(0, -1.2rem);
    transition: transform 500ms ease;
    z-index: 998;
}


.btn__hamburguesa::before,
.btn__hamburguesa::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.6rem;
    background-color: black;
    border-radius: 0.3rem;
    transition: transform 500ms ease;
}

.btn__hamburguesa::before {
    transform: rotate(0deg) translate(0, -0.9rem);
}

.btn__hamburguesa::after {
    transform: rotate(0deg) translate(0, 0.3rem);
}

.btn__menu:checked+.btn__hamburguesa {
    background-color: transparent;
}

.btn__menu:checked+.btn__hamburguesa::before {
    transform: rotate(45deg) translate(0, 0);
}

.btn__menu:checked+.btn__hamburguesa::after {
    transform: rotate(-45deg) translate(0.4rem, -0.5rem);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    background-color: rgb(104, 174, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-100%, 0);
    transition: transform 500ms ease-in-out, background-color 500ms ease;
}

.btn__menu:checked~.navbar {
    transform: translate(0, 0);
}

.navbar__menu {
    font-size: 1.4rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

.navbar__links {
    text-decoration: none;
    color: white;
}